.services {

    &-container {
        padding-top: 5px;
        padding-bottom: 140px;
        background-color: #FFFFFF;
        position: relative;
    }
    &__title-bottom {
        margin: 20px 0;
        max-width: 695px;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: #00094A;
    }
    &-title-span {
        color: #06A39C;
    }
    &__desc {
        margin: 0;
        max-width: 750px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #00094A;
        opacity: 0.8;
    }
    &__btn--position {
        padding: 14px 36px 13px;
        border-radius: 5px;
        position: absolute;
        right: 320px;
        top: 50px;
        cursor: pointer;
    }
}